*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/workspace.xml___jb_old___
app/src/main/res/layout/signup.xml
app/src/main/res/layout/signup.xml
app/src/main/res/layout/signup.xml
app/src/main/res/layout/signup.xml
app/build.gradle
app/src/main/res/drawable/fab_label_background.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
app/src/main/java/com/rcoem/enotice/enotice_app/Single_Post.java
